@-webkit-keyframes animation{from{opacity:0; -webkit-transform:scale(1.2) rotateX(45deg);transform:scale(1.2) rotateX(45deg);} to{ }}

@-webkit-keyframes animation2{from{opacity:0; -webkit-transform:scale(1.2) rotateX(45deg);transform:scale(1.2) rotateX(45deg);} to{ }}

.filmstrip {
    cursor: url(https://dl.dropboxusercontent.com/u/50037593/ElasticSlider/images/cur.png), auto;
}

.filmstrip *{ 
    cursor: url(https://dl.dropboxusercontent.com/u/50037593/ElasticSlider/images/cur.png), auto;
}

@font-face
{
    font-family: font;
    src: url(https://dl.dropboxusercontent.com/u/50037593/ElasticSlider/hand.ttf);
    font-weight:bold;
}

.slider div p{
    color:#1c1c1c;
    position:absolute;
    bottom:-65px; 
    font-family:font; 
    font-size:22px;
    width: 100%;
    left: 0;
    text-align: center;
}
.slider{
    -webkit-animation:animation ease 1s;animation-delay:.8s;animation-fill-mode:backwards;
    margin: 0 auto; /* Center the slider horizontally */
    height: 360px;
    width: 240px;
    transition:ease-in-out .2s;
    position: relative;
    perspective: 1000px;
}

.slide img { text-align:center;width:100%; height:100%; -webkit-user-drag:none;user-drag:none;-moz-user-drag:none; border-radius:2px; }

.slide{
    -webkit-user-select:none;
    user-select:none;
    -moz-user-select:none; 
    position:absolute;
    height:360px;
    width:240px;
    box-shadow: 0px 10px 30px 0px rgba(0,0,0,0.3);
    background:#fcfcfc;
    -webkit-transform-style:preserve-3d;
    transform-style:preserve-3d;
    -moz-transform-style:preserve-3d;
    text-align:center;
    border:12px white solid;
    box-sizing:border-box;
    border-bottom:55px white solid;
    border-radius:5px;
}
.transition {
     -webkit-transition: cubic-bezier(0,1.95,.49,.73) .4s ;
   -moz-transition: cubic-bezier(0,1.95,.49,.73) .4s ;
      transition: cubic-bezier(0,1.95,.49,.73) .4s ;
}